@import "_header-elements.scss";

.grid-video{
    grid-template-columns: repeat(6,1fr);
    gap: 20px;
    padding: 40px;
    grid-template-areas: "video video video color color color";

    video{
        grid-area: video;
        width: 100%;
        max-width: 900px;
        align-items: center;
        margin-top: 50px;
    }

}
.colors-available{
    grid-area: color;
    margin-left: 3rem;
    justify-self: flex-start;
    .colors{
        display: flex;
        align-items: center;
        font-size: 3rem;
        margin-bottom: 3rem;
        img{
            height: 3rem;
            margin-right: 2rem;
        }
    }
}