@import url("https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,400;0,600;1,800&family=Josefin+Sans:wght@600&display=swap");
*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: white;
  margin: 0;
}

header {
  background: rgba(51, 204, 255, 0.85);
  text-align: center;
  position: fixed;
  width: 100%;
  z-index: 999;
}

header img {
  max-width: 5rem;
  min-width: 5rem;
  height: 5rem;
}

header nav {
  position: absolute;
  text-align: left;
  top: 100%;
  left: 0;
  background: rgba(51, 204, 255, 0.85);
  width: 100%;
  -webkit-transform: scale(1, 0);
          transform: scale(1, 0);
  -webkit-transition: -webkit-transform 500ms ease-in-out;
  transition: -webkit-transform 500ms ease-in-out;
  transition: transform 500ms ease-in-out;
  transition: transform 500ms ease-in-out, -webkit-transform 500ms ease-in-out;
  -webkit-transform-origin: top;
          transform-origin: top;
}

header nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

header nav ul li {
  margin-bottom: 1em;
  margin-left: 1em;
}

header nav ul li a {
  color: white;
  font-size: 1.4rem;
  font-family: "Josefin Sans", sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  opacity: 0;
  -webkit-transition: opacity 150ms ease-in-out;
  transition: opacity 150ms ease-in-out;
}

a:active, a:hover {
  font-size: 1.6rem;
}

.nav-toggle:checked ~ nav {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

.nav-toggle:checked ~ nav a {
  opacity: 1;
  -webkit-transition: opacity 250ms ease-in-out 250ms;
  transition: opacity 250ms ease-in-out 250ms;
}

.nav-toggle {
  display: none;
}

.nav-toggle-label {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 1em;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-toggle-label span, .nav-toggle-label span::before, .nav-toggle-label span::after {
  display: block;
  background-color: white;
  height: 2px;
  width: 2em;
  border-radius: 2px;
  position: relative;
}

.nav-toggle-label span::before, .nav-toggle-label span::after {
  content: '';
  position: absolute;
}

.nav-toggle-label span::before {
  bottom: 7px;
}

.nav-toggle-label span::after {
  top: 7px;
}

@media screen and (min-width: 1300px) {
  .nav-toggle-label {
    display: none;
  }
  header {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr auto minmax(600px, 1fr) 1fr;
        grid-template-columns: 1fr auto minmax(600px, 1fr) 1fr;
  }
  #header-img {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
  }
  nav {
    all: unset;
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3 / 4;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  nav ul li {
    margin-left: 3em;
    margin-bottom: 0;
  }
  nav ul li a {
    opacity: 1;
  }
}
/*# sourceMappingURL=style.css.map */